<div class="container mt-5">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <cs-panel panelTitle="Main Page" [canToggle]="true" theme="secondary">
        <div body>Panel Body</div>
        <div footer class="d-flex">
          <span>Panel Footer</span>
          <button class="btn btn-light btn-sm ml-auto">Done</button>
        </div>
      </cs-panel>
    </div>
  </div>
</div>
<router-outlet body></router-outlet>
<cs-spinner [show]="false"></cs-spinner>
<cs-modal [show]="false" modalTitle="My Modal" routerLinkString="/home">
  <div body>
    Modal Body
  </div>
  <div footer>
    <button class="btn btn-sm btn-success">Done</button>
  </div>
</cs-modal>
<cs-notification></cs-notification>